//Main
$primary: #2322F9;
$primary-light: #3938fa;
$primary-dark: #201fe0;
$light-background: #FDFDFE;
$white: #FFFFFF;
$dark: #09142E;
$light-dark: #263043;
$light-grey: #F4F7F9;
$solid-grey: #F5F7FA;
$grey: #E2EAED;
$dark-grey: #E1EAED;
$original-grey: #d5d5d5;
$footer-grey: #5F636E
$orange: #FEAA25;
$yellow: #FFCC26;

//Circles
$pale-red: #FFECEF;
$pale-blue: #F4F4FF;
$pale-green: #E4FEEE;
$pale-olive: #EAF9FF;
$pale-yellow: #FFF6D3;

//Fonts
$font-primary: #242F51
$font-secondary: #616368;
$font-red: #F54B5E;
$font-blue: #2563FC;
$font-green: #3F975F;
$font-pricing-grey: #9DA1A9;