.jackpots-container
    max-width: $max-width
    margin: 5rem auto
    display: flex
    justify-content: space-around
    align-items: center
    &--main
        h1
            font-size: 2.5rem;
            width: 450px
    &--vertical-line
        background-color: $original-grey
        width: 2px;
        height: 160px;
        border-radius: 2rem
    &--details
        p
            max-width: 450px
         