.primary-button
    background-color: $primary
    color: $white
    font-weight: bold
    padding: 0.8rem 1.8rem
    border: none
    border-radius: 5rem
    margin-top: -1rem
    cursor: pointer

    &:hover
        background-color:  $primary-dark
        +ease-in-out(0.3s)

.primary-link
    color: $primary

    &:hover
        color: $primary-dark
        +ease-in-out(0.3s)

.nav-link
    color: $font-primary

    &:hover
        opacity: 0.8
        +ease-in-out(0.3s)